I am new to coding, so keep thing simple.
Add comments and description to the code create it
Separate everything by sections to made the code more readable
for CSS files follow the order root, elements, classes and IDs